@import 'src/scss/variables';

.content-wrapper {
  width: 350px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  gap: $elementsGap;
}

.home-search-wrapper {
  //margin-bottom: $elementsGap;
  flex-grow: 0;
}

.library-wrapper {
  //margin-top: $elementsGap;
  flex-grow: 1;
  height: 100px;
}
