@import "src/scss/variables";

th {
  background-color: $shade900;
  font-weight: $weightRegular;
  font-size: $textSm;
  user-select: none;
}

tr:hover {
  background-color: $shade600;
}

.song-name-artist {
  display: flex;
  flex-direction: column;
  user-select: none;

  .song-name {
    font-weight: $weightSemibold;
    color: $textColor;
  }

  .artist {
    font-size: $textVerySmall;
  }
}
a {
  text-decoration: none;
  color: $textSecondaryColor;

}

a:hover {
  text-decoration: underline;
}

.song-number, .song-duration {
  user-select: none;
}

:host ::ng-deep .p-button {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

ul {
  list-style-type: none;
}
