<p-table [value]="songs">
  <ng-template pTemplate="header">
    <tr>
      <th>#</th>
      <th>{{ 'album.songTitle' | translate }}</th>
      <th><i class="pi pi-clock"></i></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-song>
    <tr (dblclick)="onDoubleClickSong(songs.indexOf(song))">
      <td class="song-number">{{ songs.indexOf(song) + 1 }}</td>
      <td>
        <div class="song-name-artist">
          <span class="song-name">{{ song.name }}</span>
          <span class="artist">
            <ng-container *ngFor="let artist of song.artistDTOs">
              <a [routerLink]="'/artists/' + artist.id">{{ artist.name }}</a>
            </ng-container>
          </span>
        </div>
      </td>
      <td class="song-duration">{{ formatTime(song.duration) }}</td>
    </tr>
  </ng-template>
</p-table>
