@import '../../../../scss/variables';

.already-have-account-wrapper {
  margin: 1rem 0 0 0;
  color: $textColor;

  a {
    color: $primaryDarkColor;
  }
}

.form-bottom {
  display: flex;
  flex-direction: column;
}

.message-wrapper {
  margin: 0.5rem 0 0 0;
}

.to-login-button-wrapper {
  margin: 1rem 0 0 0;
}
