<p-card [header]="'header.register' | translate" styleClass="centered-form">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="input-box">
      <label for="email">{{ 'input.email' | translate }}</label>
      <input
        formControlName="email"
        pInputText
        name="email"
        id="email"
        type="email"
        [placeholder]="setEmailPlaceholder()"
      />
      <div *ngIf="email?.invalid && email?.touched" class="message-wrapper">
        <p-message *ngIf="email?.errors?.['required']" severity="warn" [text]="setEmailRequired()"></p-message>
        <p-message *ngIf="email?.errors?.['email']" severity="error" [text]="setEmailError()"></p-message>
      </div>
    </div>

    <div class="input-box">
      <label for="name">{{ 'input.userName' | translate }}</label>
      <input
        formControlName="name"
        pInputText
        name="name"
        id="name"
        type="text"
        [placeholder]="setNamePlaceholder()"
      />
      <div *ngIf="name?.invalid && name?.touched" class="message-wrapper">
        <p-message *ngIf="name?.errors?.['required']" severity="warn" [text]="setUsernameRequired()"></p-message>
        <p-message *ngIf="name?.errors?.['minlength']" severity="error" [text]="setUsernameMin()"></p-message>
        <p-message *ngIf="name?.errors?.['maxlength']" severity="error" [text]="setUsernameMax()"></p-message>
      </div>
    </div>

    <div class="input-box">
      <label for="password">{{ 'input.password' | translate }}</label>
      <p-password
        id="password"
        name="password"
        inputId="password"
        [toggleMask]="true"
        styleClass="input-wide"
        class="password"
        inputStyleClass="input-wide"
        formControlName="password"
        [mediumRegex]="MEDIUM_REGEX"
        [strongRegex]="STRONG_REGEX"
        [promptLabel]="setPasswordPrompt()"
        [weakLabel]="'input.passwordWeakLabel' | translate"
        [mediumLabel]="'input.passwordMediumLabel' | translate"
        [strongLabel]="'input.passwordStrongLabel' | translate"
        [placeholder]="setPasswordPlaceholder()"
      ></p-password>
      <div *ngIf="password?.invalid && password?.touched" class="message-wrapper">
        <p-message *ngIf="password?.errors?.['required']" severity="warn" [text]="setPasswordRequired()"></p-message>
        <p-message *ngIf="password?.errors?.['minlength']" severity="error" [text]="setPasswordMin()"></p-message>
      </div>
    </div>

    <div class="form-bottom">
      <p-button styleClass="button-wide" type="submit" [loading]="isLoading">
        {{ 'button.signUp' | translate }}
      </p-button>

      <p-messages></p-messages>

      <p class="already-have-account-wrapper">
        {{ 'register.login' | translate }}
        <a routerLink="/login">{{ 'button.signIn' | translate }}</a>
      </p>
    </div>
  </form>
</p-card>
