<p-card>
  <section class="wrapper">
    <div class="flex">
      <header class="header-playlist">
        <div class="align-icon">
          <app-link>
            <div class="link">
              <i class="pi pi-list"></i>
              {{ 'left.panel.yourLibrary' | translate }}
            </div>
          </app-link>
          <p-button icon="pi pi-plus" styleClass="p-button-rounded p-button-text"></p-button>
        </div>
      </header>

      <section class="user-playlists">
        Tutaj dodac playlisty
      </section>
    </div>
  </section>
</p-card>
