<p-card>
  <section class="wrapper">
    <div class="flex">
      <header class="header-playlist">
        <div class="align-icon">
          <app-link>
            <div class="link">
              <i class="pi pi-list"></i>
              {{ 'left.panel.yourLibrary' | translate }}
            </div>
          </app-link>
            <p-overlayPanel #op>
              <form [formGroup]="addPlaylistForm" (ngSubmit)="onSubmit()">
                <label for="playlistName">{{ 'playlist.name' | translate }}</label>
                <input
                  formControlName="playlistName"
                  pInputText
                  name="playlistName"
                  id="playlistName"
                />
                <p-button
                  styleClass="button-wide"
                  type="submit"
                  (onClick)="op.hide()">
                  {{ 'playlist.createPlaylistButton' | translate }}
                </p-button>
              </form>
            </p-overlayPanel>
          <p-button
            (onClick)="op.toggle($event)"
            icon="pi pi-plus"
            styleClass="p-button-rounded p-button-text">
          </p-button>
        </div>
      </header>

      <section class="user-playlists">
        <ul>
          <li *ngFor="let playlist of playlists">
            <app-playlist-card [name]="playlist.name" [id]="playlist.id"></app-playlist-card>
          </li>
        </ul>

      </section>
    </div>
  </section>
</p-card>
