<div class="main-view">
  <span class="header">{{ 'main.newestAlbums' | translate }}</span>
  <ul class="flex-row">
    <li *ngFor="let album of albums">
      <app-album-card
        [id]="album.id"
        [name]="album.name"
        [year]="album.dateCreated"
        [imgSrc]="album.imgUrl">
      </app-album-card>
    </li>
  </ul>
  <span class="header">{{ 'main.popularArtists' | translate }}</span>
  <ul class="flex-row">
    <li *ngFor="let artist of artists">
      <app-artist-card
        [id]="artist.id"
        [name]="artist.name"
        [imgSrc]="artist.imgUrl">
      </app-artist-card>
    </li>
  </ul>
</div>
