@import 'src/assets/soho/soho-dark/theme';

$elementsGap: 8px;

$pageWidth: 100%;
$nonBgFormWidth: 600px;
$nonBgWideFormWidth: 900px;

$weightRegular: 500;
$weightMedium: 600;
$weightSemibold: 700;
$weightBold: 800;

$textVerySmall: 0.75rem;
$textSm: 0.875rem;
$textBase: 1rem;
$textLg: 1.25rem;
$textXl: 1.5rem;

$dangerColor: #da2237;
