<div class="bottom-bar">
  <div class="left-info">
    <div class="song-info" *ngIf="currentFile">
      <a [routerLink]="setAlbumLink()">
        <p-image [src]="setCurrentSongAlbumCover()" width="50"></p-image>
      </a>
      <div class="inside-song-info">
        <a class="album-link" [routerLink]="setAlbumLink()">
          {{ currentFile.name }}
        </a>
        <ng-container *ngFor="let artist of currentFile.artistDTOs">
          <a class="artist-link" [routerLink]="setArtistLink(artist.id)">{{ artist.name }}</a>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="audio-controls">
    <div class="time-slider">
      {{ state.readableCurrentTime }}
      <p-slider class="time-slider"
                [(ngModel)]="state.currentTime"
                [min]="0"
                [max]="state.duration || 0"
                (onSlideEnd)="onSliderChangeEnd($event)"
                (onChange)="onSliderValueChange($event)"
                [disabled]="state.error || currentFileIndex === undefined"></p-slider>
      {{ state.readableDuration }}
    </div>
    <div class="buttons">
      <p-button icon="pi pi-step-backward"
                styleClass="p-button-rounded p-button-text"
                (onClick)="previous()"
                [disabled]="disableBackForwardButton()"></p-button>
      <p-button icon="pi pi-play"
                styleClass="p-button-rounded p-button-text"
                *ngIf="!state.playing"
                (onClick)="play()"
                [disabled]="state.error"></p-button>
      <p-button icon="pi pi-pause"
                styleClass="p-button-rounded p-button-text"
                *ngIf="state.playing"
                (onClick)="pause()"></p-button>
      <p-button icon="pi pi-step-forward"
                styleClass="p-button-rounded p-button-text"
                (onClick)="next()"
                [disabled]="disableBackForwardButton()"></p-button>
    </div>
  </div>
  <div class="right-info">
    <div class="volume-control">
      <p-button [icon]="setVolumeIcon()"
                styleClass="p-button-rounded p-button-text"
                (onClick)="toggleMuted()"></p-button>
      <p-slider class="volume-slider"
                [(ngModel)]="volume"
                [min]="0"
                [max]="1"
                [step]="0.001"
                (onChange)="onVolumeChange($event)"></p-slider>
    </div>
  </div>
</div>
