<div class="topbar">
  <div class="auth-buttons">
    <p-button *ngIf="!userId"
              styleClass="p-button-rounded p-button-text"
              [label]="setSignUpButton()"
              routerLinkActive="true"
              routerLink="/auth/register"
              class="register-button"></p-button>
    <p-button *ngIf="!userId"
              styleClass="p-button-rounded p-button-primary"
              [label]="setLoginButton()"
              routerLinkActive="true"
              routerLink="/auth/login"
              class="login-button"></p-button>
    <p-button *ngIf="userId"
              styleClass="p-button-rounded p-button-primary"
              [label]="setLogoutButton()"
              (onClick)="logoutAction()"></p-button>
  </div>
</div>
